/* ***********************************
*********** Below 984px *************
*************************************/
@media (max-width: 61.5em) {
  /*********** SECTION 1 ***********/
  .main {
    width: 95%;
    grid-template-columns: 27.5rem 1fr;
  }
  .step__1 input {
    margin-right: 1rem;
  }
  .sections-container {
    margin-left: 1rem;
  }
  .btn__next {
    padding: 1rem 1.6rem;
  }
  .step__1 .btn__next {
    margin-right: 1rem;
  }
  /*********** SECTION 2 ***********/
  .step__2 {
    max-width: 60rem;
  }
  /* .plans__container {
    justify-content: center;
  } */
}

/* ***********************************
*********** Below 776px *************
*************************************/
@media (max-width: 48.5em) {
  /*********** SECTION 1 ***********/
  html {
    font-size: 56.25%;
  }
  .main {
    grid-template-columns: 22rem 1fr;
  }
}
/* ***********************************
*********** Below 624px *************
*************************************/
@media (max-width: 39em) {
  html {
    font-size: 50%;
  }
}
/* ***********************************
*********** Below 552px *************
*************************************/
@media (max-width: 34.5em) {
  /*********** SECTION 1 ***********/
  body {
    margin-top: 0;
  }
  .main {
    grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
    padding-top: 0;
  }
  .sidebar {
    flex-direction: row;
    background-size: cover;
    background-position: bottom;
    border-radius: 0;
    justify-content: center;
  }
  .bar-container {
    display: block;
  }
  .sections-container {
    width: 100%;
  }
  .step-number {
    display: none;
  }
  .features {
    display: none;
  }
  /*********** SECTION 2 ***********/
  .btn__container {
    max-width: 100%;
  }
}
/* ******************************************
*********** Below 450px (mobile)*************
*********************************************/
@media (max-width: 28.125em) {
  /*********** SECTION 1 ***********/

  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    width: 48rem;
    background-color: hsl(217, 100%, 97%);
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar {
    gap: 0;
    min-height: 21.5rem;
    background-image: url(/assets/images/bg-sidebar-mobile.svg);
  }
  .circle-number {
    padding: 1.2rem 1.6rem;
  }
  .heading {
    margin-bottom: 2rem;
  }
  .form {
    gap: 1.8rem;
  }
  .sections-container {
    width: 90%;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 51.7%;
    left: 50%;
    transform: translate(-52.3%, 0);
    border-radius: 1.5rem;
  }
  .steps-container {
    min-height: 63rem;
    justify-content: flex-start;
  }
  .btn__container {
    margin-top: auto !important;
  }
  .btn__next {
    margin-right: 0 !important;
    margin-top: auto !important;
  }

  /*********** SECTION 2 ***********/
  .plans__container {
    flex-direction: column;
  }
  .plan-container {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 7fr;
  }

  .plan-name {
    margin: 0;
    margin-left: 1.5rem;
    margin-top: 1.8rem;
  }
  .plan-icon {
    margin: 0;
    grid-row: 1/-3;
    margin-top: 1.3rem;
    margin-left: 2rem;
  }
  .plan-cost__monthly {
    margin: 0;
    margin-left: 1.5rem;
    grid-column: 2/3;
  }
  .bonus--plan__yearly {
    margin: 0;
    margin-left: 1.5rem;
    grid-column: 2/3;
  }
  .plans--period__container {
    max-width: 100%;
  }
  .step__2 .btn__container {
    margin-top: 0;
    max-width: 100%;
  }
  /*********** SECTION 3 ***********/
  .step__3 .btn__container {
    max-width: 100%;
    margin-top: 0;
  }
  .add-ons__title {
    line-height: 1.3;
    font-size: 1.4rem;
  }
  .add-ons__description {
    line-height: 1.3;
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }
  /*********** SECTION 4 ***********/

  .step__4 .btn__container {
    max-width: 100%;
    margin-top: 0;
  }
}
